<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dataseed List Chart Example</title>
    <meta name="viewport" content="width=device-width" />
    <link href="src/less/dataseed.less" rel="stylesheet/less" type="text/css" />
    <script src="src/js/components/less/dist/less-1.7.5.js"></script>
    <style type="text/css">
        /* Highlight the currently cut dimension in our chart */
        .mylistElement .cut {
            font-weight: bold;
        }
    </style>
  </head>
  <body>
    <div id="vis"></div>
    <script src="src/js/components/requirejs/require.js"></script> 
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="dist/js/dataseed.js"></script>
    <script>
      /**
       * Define a basic visualisation model consisting of
       * a summary element as well as our new chart type
       */
      require.config({
       "config": {
           "models/datasetSingleton": {
               "DATASET": {
                   "id": "mortality",
                   "label": "Mortality",
                   "fields": [
                        {"id": "year", "label": "Year", "type": "string"},
                        {"id": "value", "label": "Value", "type": "integer"}
                    ],
                    "visualisations": [
                        {
                            "id": "1",
                            "label": "Mortality in England and Wales",
                            "description": "Explore and compare the number of deaths by disease, sex, area and year",
                            "elements": [
                                {
                                    "id": "sum0",
                                    "type": "summary",
                                    "label": "Total",
                                    "measure_label": "Number of deaths",
                                    "aggregation": "sum",
                                    "measure": {"id": "value"},
                                    "dimensions": [{"field": {"id": "year", "type": "string"}}],
                                    "width": 4,
                                    "height": 1
                                },
                                {
                                    "id": "chart0",
                                    "type": "mylist",
                                    "label": "My List Chart",
                                    "measure_label": "Number of deaths",
                                    "aggregation": "sum",
                                    "measure": {"id": "value"},
                                    "dimensions": [{"field": {"id": "year", "type": "string"}}],
                                    "width": 4,
                                    "height": 6
                                }
                            ]
                        }
                    ]
                } // end "DATASET"
            }
        } // end "config"
    });

    //require(['src/js/config'], function() {
        require(['backbone', 'underscore', 'jquery', './views/element', './views/dataset', 'app'],
            function(Backbone, _, $, ElementView, DatasetEmbedView) {

            /**
             * Create new chart type
             */
            var MyListView = Backbone.View.extend({

                // Chart HTML template
                chartTemplate: _.template('<h2><%- label %></h2><ul></ul>'),

                // Chart item HTML template
                itemTemplate: _.template(
                    '<li class="<%= (cut) ? "cut" : "" %>">' +
                    '   <a href="#" data-id="<%- id %>">' +
                    '       <%- id %>: <%- total %>' +
                    '   </a>' +
                    '</li>'
                ),

                // Chart events
                events: {
                    'click a': 'click'
                },

                /**
                 * Render the chart
                 */
                render: function() {
                    // Render chart heading and populate list with observations
                    this.$el
                        .html(this.chartTemplate(this.model.attributes))
                        .find('ul')
                        .append(_.map(this.model.getObservations(), this.renderItem, this));
                },

                /**
                 * Render chart item
                 */
                renderItem: function(d) {
                    var settings = _.extend({cut: this.model.hasCutId(d.id)}, d);
                    return this.itemTemplate(settings);
                },

                /**
                 * Handle chart click
                 */
                click: function(e) {
                    e.preventDefault();
                    this.model.featureClick({
                        id: $(e.currentTarget).data('id').toString()
                    });
                    d3.selectAll("a").style("color", function() {
                        return "hsl(" + Math.random() * 360 + ",100%,50%)";
                    });
                }

            });

            // Add our chart type to the available types
            ElementView.prototype.chartTypes.mylist = MyListView;

            /**
             * Render the visualisation
             */
            new DatasetEmbedView({el: $('#vis')});
        });
    //});
    </script>
  </body>
</html>